<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="static/css/main.css">
<title>Message Store Console</title>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h1>Message Store Console</h1>
        <h3><a href="/api/status">status</a></h3>
        <h3><a href="/api/message/list">list</a></h3>
        <h3><a href="/api/time">time</a></h3>
    </div>
</div>
<div class="quick_upload">
    <div class="container">
        <h2>Quick Upload</h2>
        <form action="api/message/upload" method="post" enctype="multipart/form-data">
            <div class="form-inline">
                <div class="form-group">
                    <ul>
                        <li>File:<input type="file" name="message"></li>
                    </ul>
                </div>
                <button type="submit" class="btn btn-sm btn-primary">Upload file</button>
            </div>
        </form>
    </div>
</div>
<div class="message_inventory">
    <div class="container">
        <h2>Message Inventory</h2>
        <table>
            <tr>
                <th>Time</th>
                <th>Expire</th>
                <th>I</th>
                <th>Size</th>
            </tr>
            {% for m in messagelist %}
            <tr>
                <td>{{ m['time_str'] }}</td>
                <td>{{ m['expire_str'] }}</td>
                <td><a href="api/message/download/{{ m['I'] }}">{{ m['I'] }}</a> <a href="api/message/find/{{ m['I'] }}">message info</a></td>
                <td>{{ m['size'] }}</td>
            </tr>
            {% end %}
        </table>
    </div>
</div>
</body>
</html>
